{% extends 'base.html' %} {% block content %}

<h1>Car Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title"
      >{{ car.year }} {{ car.make }} {{ car.model }}</span
    >
    {% if car.kms > 5000 %}
    <p>kms: {{ car.kms }}</p>
    {% else %}
    <p>BRAND NEW</p>
    {% endif %}
    <p>Color: {{ car.color }}</p>
    <p>Transmission: {{car.trans}}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'cars_update' car.id %}">Edit</a>
    <a href="{% url 'cars_delete' car.id %}">Delete</a>
  </div>
</div>

{% endblock %}
